<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</head>

<body class="d-flex flex-column min-vh-100">
	
	
	<div class="container">
  		<h1>Products</h1>
	
		<table class="table table-striped table-hover">
		 <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Title</th>
		      <th scope="col">Description</th>
		      <th scope="col">Price</th>
		    </tr>
	  	 </thead>
	  	  <thbody>
		    <tr th:each="product: ${product}">
		      <td th:text="${product.id}">#</td>
		      <td th:text="${product.title}">#</td>
		      <td th:text="${product.description}">#</td>
		      <td th:text="${product.price}">#</td>
		    </tr>
	  	 </thbody>
		</table>
		
		<div>
			<nav aria-label="Page navigation example">
			  <ul class="pagination justify-content-center">
			  
			    <li th:if= "${currentPage == 1}" class="page-item disabled">
			      <a class="page-link" href="#" tabindex="-1">Previous</a>
			    </li>
			    <li th:if= "${currentPage != 1}" class="page-item">
			      <a class="page-link" th:href="${currentPage - 1}">Previous</a>
			    </li>
			    
			    
			    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">[[${currentPage}]]</a></li>


			    <li th:if= "${currentPage == totalPages}" class="page-item disabled">
			      <a class="page-link" href="#" tabindex="-1">Next</a>
			    </li>
			    <li th:if= "${currentPage != totalPages}" class="page-item">
			      <a class="page-link" th:href="${currentPage + 1}">Next</a>
			    </li>
			  </ul>
			</nav>
		</div>
		<div>
			<a> Total Items: [[${totalElements}]] - page [[${currentPage}]] of [[${totalPages}]] </a>
		</div>
	</div>
		
	
	
</body>

</html>